:root {
    --progress-width: 6px;
}

.progress {
    position: relative;
    width: calc(120px + var(--progress-width) * 2); /** 120 = r * 2 */
    height: calc(120px + var(--progress-width) * 2); /** 120 = r * 2 */
    border-radius: 50%;
    z-index: 1000;
    margin-bottom: 50%;
}

.progress svg {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transform-origin: center;
    transform: rotate(270deg);
}

.progress svg circle {
    fill: none;
    stroke: #BFCEBA;
    stroke-opacity: .1;
    stroke-width: var(--progress-width);
    stroke-linecap: square;
    transform: translate(var(--progress-width),var(--progress-width));
}

.progress svg circle:nth-child(2) {
    --percent: 0;
    stroke-dasharray: calc(3.14 * 2 * 60);  /** 60 = r */
    stroke-dashoffset: calc((3.14 * 2 * 60) - ((3.14 * 2 * 60) * var(--percent))/100);  /** 60 = r */
    stroke: #BFCEBA;
    stroke-opacity: 1;
    transition: stroke-dashoffset 1s ease .5s;
}

.progress span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: aktiv-grotesk-extended,sans-serif;
    color: #BFCEBA;
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
}